/**************** ANIMATIONS ******************/

@keyframes rowdy {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 550px;
    }
}



/*************** MAIN STYLING ******************/
body {
    padding: 5%;
    margin: 10%;
    background-color: whitesmoke;
/*    background-image: url(http://i236.photobucket.com/albums/ff288/flaco13_bucket/visual1.gif);*/
}

h1 {
/*    font-family: 'Audiowide', cursive;*/
    font-size: 6em;
    font-weight: bold;
    color: black;
    text-align: center;
    
/*
    animation: rowdy;
    animation-delay: 3s;
    animation-duration: 1s;
    position: relative;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
*/
}

.watchStats {
/*    font-family: 'Press Start 2P', cursive;*/
    font-weight: bold;
    font-size: 2em;
}

.watchStatsHead {
/*    font-family: 'Press Start 2P', cursive;*/
    font-weight: bold;
    font-size: 2.4em;
    text-align: right;
    color:black;
}

/*************** USER COLORS ******************/

.playerColor1 {
    background-color: limegreen;
}
.playerColor2 {
    background-color: deepskyblue;
}
.playerColor3 {
    background-color: coral;
}
.playerColor4 {
    background-color: mediumpurple;
}
.playerColor5 {
    background-color: rgb(255, 204, 0);
}
.playerColor6 {
    background-color: aquamarine;
}
.playerColor7 {
    background-color: hotpink;
}
.playerColor8 {
    background-color: chocolate;
}
.playerColor9 {
    background-color: grey;
}
.playerColor10 {
    background-color: lightcoral;
}
.playerColor11 {
    background-color: lightgreen;
}
.playerColor12 {
    background-color: darkcyan;
}
.playerColor13 {
    background-color: grey;
}
.playerColor14 {
    background-color: sandybrown;
}
.playerColor15 {
    background-color: salmon;
}
